@import "../../../../../assets/colors";

nav {
  border-radius: 0  10px 10px ;
  box-shadow: $shadow;
}

.nav  {
  width: 300px;
  overflow: hidden;
  color: $primary;


 align-items: center;
  display: flex;
  padding: 2px 5px;
  height: 60px;
&-row {


  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  .user {
    color: #eee;
    margin-left: 50%;
    display: flex;
    flex: 1;
    text-align: center;
    justify-items: center;
    justify-content: space-between;
    transition: .3s all;
    &:hover {
      color:$hover;
    }
    span {
      display: flex;
      color: var(--tg-theme-text-color);
      transition: .3s all;
      margin-top: 1.5px;
      width: 50px;
      margin-right: 40px;

      &:hover {
        color: $hover;
      }
    }
  }
  .logo  {
    display: flex;
  }
  .hamburger {
    margin-left: -20px;
    transition: .3s all;
    &:hover {
      color: $hover;
    }
  }
}
}
.menu {
  position: relative;
  ul {
    position: relative;
    list-style: none;
  padding: 10px 5px;
  background-color: $shadow-color;
  max-width: 200px;
  height: calc(100% - 40px);
    border-radius: 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    a {
      z-index: 1000;
      overflow: hidden;
      display: flex;
      width: 190px;
      text-align: center;
      padding: 3px 5px;
      color: white;
      text-decoration: none;
      transition: all .3s;
      .active {
        color: $hover;
      }
      &:hover {

        padding-left: 7px;
        background: $hover-bg;
      }
      mat-icon {
        margin-top: 1.3px;
        font-size: 16px;
      }
    .active {
      background: rgba(#eee, .6);
      padding-left: 7px;
    }
    .login {
      display: inline-flex;
      mat-icom {
        display: flex;
        margin-top: 10px;
      }
    }
    }
  }
}
