<div class="container">
  <button (click)="close()" class="close">X</button>
  <div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div><div class="product-card">
    <div class="product-img"></div>
    <div class="product-description">
      <h2>burger</h2>
      <p>simple burger</p>
    </div>
    <div class="product-buttons">
      <button class="order">Заказать</button>
      <button class="reject">Отмена</button>
    </div>
  </div>
</div>
