.product-card {
  display: flex;
  flex-direction: column;
  flex: 33.3%;
  min-width: 200px;
  text-align: center;
  margin-left: 30px;
  margin-top: 40px;
  max-width: 350px;
  border-radius: 10px;
  border: .3px solid #eee;
  box-shadow: 2px 2px 1px rgba(0,0,0,.5);
  min-height: 200px;
  max-height: max-content;
  justify-content: center;
  align-items: center;

.product-buttons {
  margin-top: 20px;
  row-gap: 20px;
  display: flex;
  margin-right: 40px;
  column-gap: 20px;
  max-width: 150px;
  .order {
    color: white;
    background: #2ecc71;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    transition: .3s all;
    &:hover {
      background: #27ae60;
    }
    &:active {
      box-shadow: rgba(0,0,0,.6) inset 1px 1px 1px 1.5px;
      padding: 4.7px 14.2px;
    }
  }
  .reject {
    color: white;
    background: #e74c3c;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    transition: .3s all;
    &:hover {
      background: #c0392b;
    }
    &:active {
      box-shadow: rgba(0,0,0,.6) inset 1px 1px 1px 1.5px;
      padding: 4.7px 14.2px;
    }
  }
}
}
